
NODE_ENV=development
PORT=5001

DATABASE_URL=mongodb+srv://nextAuth:nextAuth123@cluster0.fomplst.mongodb.net/quickhire?retryWrites=true&w=majority&appName=Cluster0


# Cloudinary
CLOUDINARY_NAME=do2cbxkkj
CLOUDINARY_API_KEY=581756315446585
CLOUDINARY_SECRET=Q2IhMl_KosE4E2XPeGez8xrd6b0
# CORS
CROSS_ORIGIN_CLIENT=https://quickhire.anaadevelopersltd.com
CROSS_ORIGIN_ADMIN_LOCALHOST=http://localhost:3000
CROSS_ORIGIN_CLIENT_LOCALHOST=http://localhost:3001
